# NON-PARAMETRIC TESTS (CHAPTER 14)

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

## Example â€“ hypothesis test

using $\alpha$ = 0.1, test :

$H_0$ : $\mu$ = 0

$H_1$ : $\mu$ > 0

In [11]:
data = [6, 8, 9, 5, -7, 5, 3, -3, 0, -12, 3, 1]
n = len(data)

In [29]:
# to find lower bound

sum([stats.binom.pmf(i, n, 0.5) for i in range(0,3)])

0.019287109374999955

In [28]:
# to find upper bound

sum([stats.binom.pmf(i, n, 0.5) for i in range(10,13)])

0.019287109374999955

In [30]:
1 - 2 * 0.019287109374999955

0.9614257812500001

In [40]:
df = pd.read_excel('w12 rank.xlsx')
notes = df.iloc[15:17]
df = df.iloc[:15]

In [44]:
df['difference'] = df['After'] - df['Before']
df

   Before  After difference
0      95   98.0          3
1      76   83.0          7
2      92   91.5       -0.5
3    91.5   99.0        7.5
4      82   79.5       -2.5
5      76   77.5        1.5
6      82   92.0         10
7      75   81.0          6
8      76   87.0         11
9      99   97.0         -2
10     74   84.0         10
11     78   83.0          5
12     78   84.5        6.5
13     76   75.0         -1
14     90   85.5       -4.5

In [50]:
dif = list(df['difference'])
dif.sort()

In [51]:
dif

[-4.5,
 -2.5,
 -2.0,
 -1.0,
 -0.5,
 1.5,
 3.0,
 5.0,
 6.0,
 6.5,
 7.0,
 7.5,
 10.0,
 10.0,
 11.0]

In [53]:
dif

[-4.5,
 -2.5,
 -2.0,
 -1.0,
 -0.5,
 1.5,
 3.0,
 5.0,
 6.0,
 6.5,
 7.0,
 7.5,
 10.0,
 10.0,
 11.0]

In [61]:
mean = 2*16*14/30+1

sigma2 = (mean-1)*(mean-2)/ (30-1)

sigma = sigma2**0.5

sigma

2.678594015595335

In [63]:
(mean-23)/(sigma2)

-0.9849196855775803

# Wilcoxon signed rank test

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = [40, 59, 64, 64, 64, 65, 65, 69, 74, 82]
alpha = 0.05
median_test = 63

In [7]:
data.sort()
data

[40, 59, 64, 64, 64, 65, 65, 69, 74, 82]

In [6]:
difference_list = ([i-median_test for i in data])
difference_list

[-23, -4, 1, 1, 1, 2, 2, 6, 11, 19]

In [10]:
df = pd.DataFrame(data, difference_list)
df

      0
-23  40
-4   59
 1   64
 1   64
 1   64
 2   65
 2   65
 6   69
 11  74
 19  82